.btn:focus,
.page-link:focus,
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}

label.error {
    float: none;
    clear: both;
    font-size: 14px;
    color: red;
    margin-bottom: 5px;
    margin-left: 5px;
}

input.error {
    border: 2px solid red;
    color: red;
}
