.btn-circle {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
    background-color: #5c8ff3;
    border-color: #5c8ff3;
}

.btn:focus,
.page-link:focus,
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}

img {
    pointer-events: none;
}

label.error {
    float: none;
    clear: both;
    font-size: 14px;
    color: red;
    margin-bottom: 5px;
    margin-left: 5px;
}

input.error, textarea.error, iframe.error, .dropdown-toggle.error {
    border: 2px solid red;
    color: red;
}
